DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=eventhub
EMAIL_USER=eventhub309@gmail.com //This is the event email
EMAIL_PASS=cvno uvhy fsnd tukd //This is the pass

SESSION_SECRET=change-this-to-a-long-random-string

PORT=3000
